/**************************
*************************** 
TABLE OF CONTENTS

1.0  Global / Normalize 
2.0  Color Palette
3.0  Navigation header
4.0  Navigation footer
5.0  Fonts
6.0  Hero stuff
7.0  Animation
8.0  Images
9.0  Scroll bar
10.0 Buttons
11.0 Personal kinks
12.0 Mobile size 

****************************
***************************/

/***********************************/
/****   1.0 global / Normalize  ****/
/***********************************/

html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
em,
img,
strong,
ol,
ul,
li,
table,
caption,
footer,
nav {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  text-decoration: none;
  list-style: none;
}

body {
  max-height: 100vh;
  max-width: 100%;
  /* overflow-x: hidden; */
  background-color: black;
  font-family: "Josefin Sans", sans-serif;
  /*  font weights are 400, 500, and 700 */
  /* -ms-overflow-style: none;   */
  scrollbar-width: none;
  /* scroll-behavior: smooth; */
}

body::-webkit-scrollbar {
  display: none;
}
/***********************************/
/*****   2.0 Color Palette    ******/
/***********************************/

.one,
.two {
  font-size: 1.4rem;
  height: 100vh;
  line-height: 2;
  padding-left: 250px;
}

.one {
  background: rgb(60, 0, 79);
  background-image: url("./images/planets/stars.png"),
    linear-gradient(45deg, rgb(49, 16, 44) 0%, rgb(16, 29, 46) 100%);
}

.two {
  background: rgb(60, 0, 79);
  background-image: url("./images/planets/stars.png"),
    linear-gradient(135deg, rgb(49, 16, 44) 0%, rgb(16, 29, 46) 100%);
}
footer {
  font-size: 1.4rem;
  scroll-snap-align: start;
  height: 100vh;
  line-height: 3;
  background: rgb(60, 0, 79);
  background-image: url("./images/planets/stars.png"),
    linear-gradient(135deg, rgb(49, 16, 44) 0%, rgb(16, 29, 46) 100%);
}

::-moz-selection {
  /* Code for Firefox */
  background: rgb(228, 43, 120);
}

::selection {
  background: rgb(228, 43, 120);
}

/***********************************/
/***   3.0 Navigation header   *****/
/***********************************/

nav {
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 20px;
  padding: 8px 0;
  height: 100%;
  display: none;
}

nav a {
  height: 10%;
  padding: 0px;
  text-decoration: none;
  font-size: 25px;
  color: #adb0bb;
  font-weight: 700;
  display: block;
  transition: 0.3s;
}

nav a:hover {
  color: rgb(228, 43, 120);
}

.mobilenav {
  display: none;
}

/***********************************/
/***   4.0  Navigation footer   ****/
/***********************************/

/***********************************/
/*********   5.0 Fonts    **********/
/***********************************/

h1 {
  font-size: 2.5rem;
  color: white;
  padding-top: 20vh;
}

h2 {
  font-size: 2rem;
  color: rgb(228, 227, 230);
}
h3 {
  font-size: 1.75rem;
  color: rgb(193, 191, 199);
}

p {
  font-size: 1.125rem;
  font-weight: 200;
}

.description h1 {
  color: rgb(228, 43, 120);
}

/***********************************/
/******   6.0  Hero stuff   ********/
/***********************************/

/***********************************/
/*******   7.0  Animation   ********/
/***********************************/

/***********************************/
/********   8.0  Images   **********/
/***********************************/

img {
  max-width: 100%;
  padding-top: 20vh;
}

/***********************************/
/******   9.0  Scroll bar   ********/
/***********************************/

/***********************************/
/*******   10.0  Buttons   *********/
/***********************************/

footer {
  text-align: center;
  margin: auto;
}

.stretched-btn {
  margin: auto;
  margin-top: 100px;
  background-image: linear-gradient(
    90deg,
    rgb(245, 102, 92) 0%,
    rgb(187, 29, 126) 100%
  );
  transition: 0.7s;
  width: 200px;
  border-radius: 50px;
}

.stretched-btn:hover {
  width: 100%;
  border-radius: 0px;
}

.stretched-btn a {
  padding: 30px 30px;
  color: rgb(33, 21, 48);
  font-weight: bold;
}

/***********************************/
/****   11.0 Personal kinks   ******/
/***********************************/

/***********************************/
/*****   12.0 Mobile size    *******/
/***********************************/

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 1.6rem;
    padding-top: 5vh;
  }

  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.4rem;
  }

  .stretched-btn {
    margin-top: 10vh;
    width: 150px;
    padding: 10px;
    border-radius: 50px;
  }

  footer {
    font-size: 1.2rem;
    line-height: 2;
  }

  footer h1 {
    padding-top: 10vh;
  }

  nav {
    top: 0px;
    left: 0px;
    height: 0%;
  }

  nav a {
    height: 0%;
    font-size: 0px;
  }

  .one,
  .two {
    height: 100vh;
    line-height: 1.8;
    padding-left: 0px;
  }

  img {
    max-width: 50%;
    margin-left: 25%;
    padding-top: 5vh;
  }

  .color {
    background-color: tomato;
  }

  .mobilenav {
    display: unset;
    background-color: rgba(0, 0, 0, 0.445);
    width: 100%;
    padding: 15px 0;
    position: fixed;
    z-index: 3;
  }

  .mobilenav a{
    color: white;
    float: right;
    padding-right: 20px;
  }
}
